pkgbase = crossref-cli
	pkgdesc = Crossref REST API CLI for DOI and metadata workflows
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Schmoho/crossref-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	provides = crossref-tool
	conflicts = crossref-cli-git
	conflicts = crossref-tool
	source = crossref-cli-0.1.0.tar.gz::https://github.com/Schmoho/crossref-cli/archive/refs/tags/v0.1.0.tar.gz
	source = LICENSE
	sha256sums = 0a6234d613941c6134742f6ccca7baafc44f727918d0123a178cac0b7d11792f
	sha256sums = 532ab52473158a8880890c1f061cd633a6388028d968fb9aa85ba1f8a776d529

pkgname = crossref-cli
